<script id="emoji-list-template" type="text/template">
    <div class="emoji-tooltip__mainItem">
        <% if (title) { %> 
            <div class="emoji-tooltip__mainItem-title"><%= title %></div>
        <% } %>
        <% if (items) { %> 
            <ul class="emoji-tooltip__mainItem-list js-emoji-tooltip-list">
                <% items.forEach((emoji, idx) => { %>
                    <li class="emoji-tooltip__mainItem-list-item" data-type="<%- type %>" data-part="<%- part %>" data-value="<%- idx %>"><%- emoji %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</script>
