.emoji-tooltip {
    position: absolute;
    top: calc(-11px - 282px);
    right: 0;
    visibility: hidden;
    opacity: 0;
    height: 282px;
    width: 291px;
    border: 1px solid color('gray');
    border-radius: 4px;
    background-color: color('white');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease-in-out;

    @media (max-width: grid('xs')) {
        right: calc(50% - 145px);
    }

    &::before {
        content: '';        
        display: block;
        position: absolute;
        bottom: -5.3px;
        right: 12px;
        height: 9px;
        width: 9px;
        background-color: color('gray-lighter');
        border: 1px solid color('gray');
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        transform: rotate(-45deg);
        border-radius: 0 0 0 4px;

        @media (max-width: grid('xs')) {
            right: 62px;
        }
    }

    &.is-active {
        opacity: 1;
    }
    
    &.is-visible {
        visibility: visible;
    }

    &__inner {
        width: 100%;
        height: 100%;
    }

    &__main-wrapper {
        position: relative;
        display: none;
        margin: auto;
        padding: 3.5px 4px 4px;
        height: 244.5px;
        overflow: hidden;

        &.is-active {
            display: block;
        }
    }

    &__main {
        height: 100%;
    }

    &__mainItem {
        margin: 0 0 10px;
        width: 100%;
    }

    &__mainItem-title {
        margin: 5px 0 4px 5px;
        letter-spacing: 0.8px;
        font-size: 13px;
        color: color('gray-darker');
    }

    &__mainItem-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 269px;
        margin: 2px 0 0 2px;
        cursor: url(/../assets/images/arrow.svg), pointer;
    }

    &__mainItem-list-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px 5px 3px 0px;
        padding: 0;
        width: 22px;
        height: 22px;
        font-size: 13.5px;
        list-style: none;
        text-align: center;
        border-radius: 3px;
        background-color: color('white');
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: color('gray-light');
        }

        &:nth-child(10n) {
            margin: 1px 0 0 0;
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-start;
        height: 35.5px;
        width: calc(100% + 1px);
        border-right: 1px solid #C5D0DB;
        border-radius: 0 0 3px 3px;
        background-color: color('gray-lighter');
    }

    &__menu-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35.5px;
        height: 35.5px;

        &:nth-child(2) {
            width: 36px;
        }
        
        &.is-active {
            background-color: color('white');
            border-radius: 0 0 0 3px;
        }

        &_recent {
            &.is-active {
                background-color: color('white');
                border-radius: 0;
            }
        }
    }

    &__menu-svg {
        position: absolute;
        top: 8px;
        left: calc(50% - 10px);
        fill: color('gray-dark');
        pointer-events: none;
    }
}


.scrollable {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


/*Edge*/
@supports (-ms-ime-align:auto)  {
    .scrollable:after {
        content: "";
        height: 16px;
        display: block;
    }
}

/*Firefox*/
.scrollable {
    scrollbar-width: thin;
    scrollbar-color: color('blue-light') color('white');
}


/*Chrome*/
.scrollable::-webkit-scrollbar-track {
    background-color: color('white');
    border-radius: 3px;
    width: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: color('blue-light');
    border-radius: 3px;
    background-clip: content-box;
}

.scrollable::-webkit-scrollbar {
    width: 6.5px;
}
