:root {
    --font-family-base: 'SF Pro', sans-serif !important;

    --font-size-xl: 28px !important;
    --font-size-lg: 17px !important;
    --font-size-md: 14px !important;
    --font-size-xs: 12px !important;
    --font-size-base: 17px !important;
    --font-size-base-xs: 14px !important;

    --font-weight-light: 300 !important;
    --font-weight-base: 400 !important;
    --font-weight-bold: 600 !important;

    --line-height-md: 1.41 !important;
    --line-height-base: 1.41 !important;

    --font-size-h1: 46px !important;
    --font-size-h2: 36px !important;
    --font-size-h3: 20px !important;
    --font-size-h4: 17px !important;
    --font-size-h5: 17px !important;
    --font-size-h6: 17px !important;

    --font-size-h1-md: 36px !important;
    --font-size-h2-md: 36px !important;
    --font-size-h3-md: 20px !important;
    --font-size-h4-md: 17px !important;
    --font-size-h5-md: 17px !important;
    --font-size-h6-md: 17px !important;

    --font-size-h1-xs: 28px !important;
    --font-size-h2-xs: 28px !important;
    --font-size-h3-xs: 17px !important;
    --font-size-h4-xs: 17px !important;
    --font-size-h5-xs: 17px !important;
    --font-size-h6-xs: 17px !important;

    --line-height-h1: 1.09 !important;
    --line-height-h2: 1.28 !important;
    --line-height-h3: 1.41 !important;
    --line-height-h4: 1.41 !important;
    --line-height-h5: 1.41 !important;
    --line-height-h6: 1.41 !important;

    --line-height-h1-md: 1.11 !important;
    --line-height-h2-md: 1.28 !important;
    --line-height-h3-md: 1.41 !important;
    --line-height-h4-md: 1.41 !important;
    --line-height-h5-md: 1.41 !important;
    --line-height-h6-md: 1.41 !important;

    --line-height-h1-xs: 1.14 !important;
    --line-height-h2-xs: 1.14 !important;
    --line-height-h3-xs: 1.41 !important;
    --line-height-h4-xs: 1.41 !important;
    --line-height-h5-xs: 1.41 !important;
    --line-height-h6-xs: 1.41 !important;

    --typography-margin-top: 0 !important;
    --typography-margin-bottom: 0 !important;

    --headings-font-family: 'SF Pro', sans-serif !important;
    --headings-font-weight: 600 !important;
    --headings-color: color('black') !important;
}
