.message {
    position: relative;

    &__textarea {
        padding: 8px 45px 9px 9px;
        width: 291px;
        min-height: 37px;
        height: auto;
        border-radius: 4px;
        border: 1px solid color('gray');
        letter-spacing: 0.5px;
        font-size: 13px;
        line-height: 18px;
        font-family: var(--font-family-base);
        resize: none;
        outline: none;
        overflow: hidden;

        &::placeholder {
            color: color('gray-darker');
            letter-spacing: 0.5px;
            font-size: 13.5px;
            line-height: 19px;
            transition: color 0.15s ease-in-out;
        }

        &:focus {
            &.message__textarea::placeholder {
                color: color('gray');
            }
        }
    }

    &__smile {
        position: absolute;
        top: 8.5px;
        right: 8.5px;
        height: 20px;
    }
    
    &__smile-svg {
        fill: color('gray');
        pointer-events: none;
    }
}
