body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
    color: color('black');

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-base-xs);
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: var(--typography-margin-top);
    margin-bottom: var(--typography-margin-bottom);
    font-family: var(--headings-font-family);
    font-weight: var(--headings-font-weight);
    color: var(--headings-color);
}

h1,
.h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h1-md);
        line-height: var(--line-height-h1-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h1-xs);
        line-height: var(--line-height-h1-xs);
    }
}

h2,
.h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h2-md);
        line-height: var(--line-height-h2-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h2-xs);
        line-height: var(--line-height-h2-xs);
    }
}

h3,
.h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h3-md);
        line-height: var(--line-height-h3-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h3-xs);
        line-height: var(--line-height-h3-xs);
    }
}

h4,
.h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h4-md);
        line-height: var(--line-height-h4-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h4-xs);
        line-height: var(--line-height-h4-xs);
    }
}

h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h5-md);
        line-height: var(--line-height-h5-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h5-xs);
        line-height: var(--line-height-h5-xs);
    }
}

h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);

    @media (max-width: grid('md')) {
        font-size: var(--font-size-h6-md);
        line-height: var(--line-height-h6-md);
    }

    @media (max-width: grid('xs')) {
        font-size: var(--font-size-h6-xs);
        line-height: var(--line-height-h6-xs);
    }
}

p {
    margin-top: var(--typography-margin-top);
    margin-bottom: var(--typography-margin-bottom);
}
